@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
}

.header {
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: rgb(237, 233, 228);
}
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 7rem;
}

.logo {
  width: 4rem;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.nav-links a {
  text-decoration: none;
  color: rgb(32, 32, 32);
  font-family: "lato";
  font-size: 1.2rem;
  font-weight: 500;
}
.fa-cart-shopping {
  font-size: 2rem;
}
#main {
  display: flex;
}
#main #text h1 {
  width: 450px;
  position: relative;
  bottom: 500px;
  margin-left: 200px;
  font-family: "Cormorant SC";
  font-size: 40px;
}
#main #text p {
  width: 450px;
  position: relative;
  bottom: 500px;
  margin-left: 200px;
  font-family: "lato ";
  font-weight: 400 normal;
  font-size: 16px;
}
#main #text button {
  position: relative;
  bottom: 500px;
  margin-left: 200px;
  padding: 20px 20px;
  font-size: 16px;
  border-style: solid;
  text-align: center;
  color: gainsboro;
  background-color: rgb(32, 32, 32);
  width: 250px;
  cursor: pointer;
}
#main #text button:hover {
  background-color: rgb(64, 64, 64);
}

#main #text-img img {
  position: relative;
  bottom: 540px;
  margin-left: 120px;
}
#main-2 {
  display: flex;
}
#main-2 #text-2-img img {
  position: relative;
  bottom: 460px;
  left: 100px;
}
#main-2 #text-2 h1 {
  font-family: "Cormorant SC";
  font-size: 40px;
  position: relative;
  bottom: 450px;
  margin-left: 200px;
  font-weight: 700;
  color: rgb(32, 32, 32);
}

#main-2 #text-2 p {
  width: 578px;
  position: relative;
  bottom: 450px;
  margin-left: 200px;
  font-family: "lato";
  font-weight: 400 normal;
  font-size: 16px;
}
#main-2 #text-2 button {
  position: relative;
  bottom: 420px;
  margin-left: 200px;
  padding: 20px 20px;
  font-size: 16px;
  border-style: solid;
  text-align: center;
  color: gainsboro;
  background-color: rgb(32, 32, 32);
  width: 200px;
  cursor: pointer;
}
#main-2 #text-2 button:hover {
  background-color: rgb(64, 64, 64);
}
#main-3 {
  background-color: rgb(32, 32, 32);
  color: whitesmoke;
  position: relative;
  bottom: 420px;
}
#main-3 h1 {
  font-family: "Cormorant SC";
  font-size: 90px;
  text-align: center;
}
#main-3 #pass {
  display: flex;
  gap: 20px;
  margin-left: 160px;
}
#main-3 #pass div img {
  position: relative;
  bottom: 50px;
  cursor: pointer;
}
#main-3 #pass h2 {
  text-align: center;
  position: relative;
  bottom: 40px;
  font-family: "Cormorant SC";
  font-size: 40px;
  font-weight: 700;
}
#blog {
  position: relative;
  bottom: 370px;
  margin-left: 230px;
}
#blog h1 {
  font-family: "Cormorant SC";
  font-size: 40px;
  text-align: center;
  margin-right: 40px;
}
#blog h3 {
  font-size: 72px;
  text-align: center;
  font-family: "caveat";
  font-weight: 400 normal;
}
#blog #blog-post {
  display: flex;
  margin-top: 70px;
}
#blog #blog-text {
  background-color: rgb(186 170 150);
  box-shadow: none;
  width: 550px;
}
#blog #blog-post div img {
  width: 600px;
}
#blog #blog-text h2 {
  font-family: "Cormorant SC";
  font-size: 46px;
  width: 390px;
  margin-left: 70px;
  color: rgb(237, 233, 228);
}
#blog #blog-text p {
  width: 450px;
  font-size: 16px;
  font-family: "lato";
  font-weight: 400 normal;
  margin-left: 70px;
  margin-bottom: 40px;
}
#blog #blog-text button {
  margin-left: 200px;
  padding: 20px 20px;
  font-size: 16px;
  border-style: solid;
  text-align: center;
  font-family: "lato";
  font-weight: 400 normal;
  color: gainsboro;
  background-color: rgb(32, 32, 32);
  width: 200px;
  cursor: pointer;
}
#blog #blog-text button:hover {
  background-color: rgb(64, 64, 64);
}
#blog .more button {
  margin-left: 450px;
  padding: 20px 20px;
  font-size: 16px;
  border-style: solid;
  text-align: center;
  font-family: "lato";
  font-weight: 400 normal;
  color: gainsboro;
  background-color: rgb(32, 32, 32);
  width: 240px;
  cursor: pointer;
  position: relative;
  top: 50px;
}
#blog .more button:hover {
  background-color: rgb(64, 64, 64);
}
#main-4 {
  text-align: center;
  position: relative;
  bottom: 250px;
  background-color: rgb(237, 233, 228);
  box-shadow: none;
  height: 400px;
}
#main-4 h1 {
  font-size: 46px;
  font-family: "cormorant SC";
  font-weight: 700 normal;
  color: rgb(32, 32, 32);
  width: 800px;
  margin-left: 400px;
  padding-top: 50px;
}
#main-4 button {
  color: gainsboro;
  background-color: rgb(32, 32, 32);
  width: 240px;
  cursor: pointer;
  position: relative;
  top: 50px;
  font-family: "lato";
  border-style: solid;
  text-align: center;
  font-size: 16px;
  padding: 20px 20px;
  margin-left: 110px;
}
#main-4 button:hover {
  background-color: rgb(64, 64, 64);
}
#main-5 {
  text-align: center;
  position: relative;
  bottom: 190px;
}
#main-5 h1 {
  font-family: "cormorant SC";
  width: 280px;
  font-size: 46px;
  text-align: center;
  font-weight: 700 normal;
  margin-left: 670px;
}
#main-5 small {
  font-family: "lato";
  font-size: 26px;
  margin-left: 100px;
  font-weight: 500 normal;
}
#main-5 #icons i {
  margin-top: 50px;
  margin-left: 80px;
  font-size: 40px;
  width: 10px;
}
#main-6 {
  display: flex;
  gap: 0px;
  position: relative;
  bottom: 0px;
}
#main-6 #insta img {
  width: 371px;
  height: 390px;
  cursor: pointer;
}
#main-6 #insta img:hover {
  transform: scale(1.05);
  transform: all 0.2s ease-in-out;
}
#footer {
  background-color: rgb(32, 32, 32);
  position: relative;
  bottom: 0px;
  height: 500px;
}
#footer #footer-content {
  display: flex;
  gap: 390px;
  position: relative;
  top: 150px;
  margin-left: 100px;
  color: rgb(237, 233, 228);
}
#footer ul li {
  list-style: none;
}
#footer ul li a {
  text-decoration: none;
  margin-right: 30px;
  font-family: "cormorant SC";
  font-size: 24px;
  line-height: 70px;
  color: rgb(237, 233, 228);
  width: 100%;
  font-weight: 700 normal;
  word-spacing: normal;
  text-align: left;
  position: relative;
  bottom: 70px;
}
#footer ul li a:hover {
  color: rgb(186, 170, 150);
}
#footer #footer-content h1 {
  font-family: "caveat";
  font-weight: 400 normal;
  font-size: 50px;
  width: 100%;
}
#footer #footer-content p {
  font-family: "lato";
  font-weight: 400 normal;
  font-size: 16px;
  margin-left: 58px;
}
#footer #footer-content small {
  font-family: "lato";
  font-weight: 400 normal;
  font-size: 14px;
}
#footer #footer-content div strong {
  color: #fffeff;
  font-family: "lato";
  font-size: 16px;
}
#footer #footer-content strong + a {
  font-size: 16px;
  line-height: inherit;
  cursor: pointer;
}
