@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
}

/* Header section */

.header {
  background-size: cover;
  height: 110vh;
  width: 100%;
  background-color: rgb(237, 233, 228);
}
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 2rem;
  box-shadow: inset 0 4px 0 0 rgb (32, 32, 32);
}

.logo {
  width: 4rem;
}

.logo img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.nav-links a {
  text-decoration: none;
  color: rgb(32, 32, 32);
  font-family: "lato";
  font-size: 1rem;
  font-weight: 500;
}
.fa-cart-shopping {
  font-size: 1.6rem;
}

.hero {
  width: 100%;
  padding-inline: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-block: 3rem 0;
}

.hero-text {
  width: 40%;
}
.hero h2 {
  font-family: "Cormorant SC";
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
}
.hero-text p {
  font-family: "lato ";
  font-weight: 400;
  font-size: 1.2rem;
  margin-block: 1rem 1.8rem;
  line-height: 1.5;
}
.hero-text button {
  font-size: 0.9rem;
  border: none;
  font-weight: 400;
  text-align: center;
  color: gainsboro;
  background-color: rgb(32, 32, 32);
  width: 40%;
  padding-block: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.hero button:hover {
  background-color: rgb(64, 64, 64);
}

.hero-img {
  width: 40%;
}

.hero-img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 3/4;
}

/* About section */

.about-section {
  width: 100%;
  padding-inline: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-block: 12rem 0;
}
.about-me-img {
  width: 40%;
}

.about-me-img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 3/4;
}

.about-me {
  width: 50%;
}

.about-me h2 {
  font-family: "Cormorant SC";
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
}
.about-me p {
  font-family: "lato ";
  font-weight: 400;
  font-size: 1.2rem;
  margin-block: 1rem 1.8rem;
  line-height: 1.5;
}

.about-me button {
  font-size: 0.9rem;
  border: none;
  font-weight: 400;
  text-align: center;
  color: gainsboro;
  background-color: rgb(32, 32, 32);
  width: 40%;
  padding-block: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.about-section button:hover {
  background-color: rgb(64, 64, 64);
}

.passions-section {
  width: 100%;
  padding-inline: 2rem;
  background-color: rgb(32, 32, 32);
  color: whitesmoke;
  margin-block: 3rem 0;
  padding-block: 2rem;
}
.passions-section h1 {
  font-family: "Cormorant SC";
  font-size: 6rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.passions-section h1 span {
  font-size: 8rem;
}
.passion-imgs {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-block: 1rem 0.5rem;
}
.painting img,
.murals img,
.drawing img {
  width: 100%;
  cursor: pointer;
}
.painting h2,
.murals h2,
.drawing h2 {
  text-align: center;
  font-family: "Cormorant SC";
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  margin-block: 1rem 0;
}

/* Blog section */

.blog {
  position: relative;
  padding-inline: 2rem;
  margin-block: 3rem 0;
}
.blog h2 {
  font-family: "Cormorant SC";
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
}

.blog h2 span {
  font-size: 3rem;
}

.blog h3 {
  font-size: 4rem;
  position: absolute;
  font-family: "caveat";
  font-weight: 300;
  top: 17%;
  left: 40%;
  font-style: italic;
  letter-spacing: 0.3rem;
  transform: translateY(-40%) rotate(-15deg);
}
.blog-post {
  display: flex;
  width: 100%;
  margin-top: 5rem;
}

.blog-img {
  width: 50%;
}

.blog-img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 3/3;
}

.blog-text {
  background-color: rgb(186 170 150);
  width: 50%;
  color: rgb(255, 254, 253);
  padding-inline: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog-text h2 {
  font-family: "Cormorant SC";
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: left;
}
.blog-text p {
  font-family: "lato ";
  font-weight: 400;
  font-size: 1.2rem;
  margin-block: 1rem 1.8rem;
  line-height: 1.5;
}
.blog-text button {
  font-size: 0.9rem;
  border: none;
  font-weight: 400;
  text-align: center;
  color: gainsboro;
  background-color: rgb(32, 32, 32);
  width: 40%;
  padding-block: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.blog-text button:hover {
  background-color: rgb(64, 64, 64);
}

.see-more-btn {
  display: flex;
  justify-content: center;
  margin-block: 3rem 0;
}

.see-more-btn button {
  font-size: 0.9rem;
  border: none;
  font-weight: 400;
  text-align: center;
  color: gainsboro;
  background-color: rgb(32, 32, 32);
  width: 16%;
  padding-block: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.see-more-btn button:hover {
  background-color: rgb(64, 64, 64);
}

/* Contact section */

.contact-section {
  width: 100%;
  padding-block: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 3rem 0;
  background-color: rgb(237, 233, 228);
}
.contact-section h2 {
  width: 60%;
  text-align: center;
  font-family: "Cormorant SC";
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5;
  color: rgb(32, 32, 32);
}
.contact-section button {
  font-size: 0.9rem;
  border: none;
  font-weight: 400;
  text-align: center;
  color: gainsboro;
  background-color: rgb(32, 32, 32);
  width: 16%;
  margin-block: 1.5rem 0;
  padding-block: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.contact-section button:hover {
  background-color: rgb(64, 64, 64);
}

/* Socials section */

.socials-section {
  width: 100%;
  color: rgb(32, 32, 32);
  padding-block: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socials-section h2 {
  width: 30%;
  text-align: center;
  font-family: "Cormorant SC";
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5;
  color: rgb(32, 32, 32);
}

.socials-section small {
  font-family: "lato";
  font-size: 1.8rem;
  font-weight: 500;
  margin-block: 1rem 0;
}

.socials-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.fa-instagram,
.fa-facebook,
.fa-pinterest,
.fa-tiktok {
  margin-top: 2rem;
  font-size: 1.6rem;
}

/* Studion section */

.studio {
  display: flex;
  align-items: center;
}

.studio-img {
  width: 25%;
  overflow: hidden;
}
.studio-img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 3/4;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.studio-img > img:hover {
  transform: scale(1.1);
}
#footer {
  background-color: rgb(32, 32, 32);
  position: relative;
  bottom: 0px;
  height: 500px;
}
#footer #footer-content {
  display: flex;
  gap: 390px;
  position: relative;
  top: 150px;
  margin-left: 100px;
  color: rgb(237, 233, 228);
}
#footer ul li {
  list-style: none;
}
#footer ul li a {
  text-decoration: none;
  margin-right: 30px;
  font-family: "cormorant SC";
  font-size: 24px;
  line-height: 70px;
  color: rgb(237, 233, 228);
  width: 100%;
  font-weight: 700 normal;
  word-spacing: normal;
  text-align: left;
  position: relative;
  bottom: 70px;
}
#footer ul li a:hover {
  color: rgb(186, 170, 150);
}
#footer #footer-content h1 {
  font-family: "caveat";
  font-weight: 400 normal;
  font-size: 50px;
  width: 100%;
}
#footer #footer-content p {
  font-family: "lato";
  font-weight: 400 normal;
  font-size: 16px;
  margin-left: 58px;
}
#footer #footer-content small {
  font-family: "lato";
  font-weight: 400 normal;
  font-size: 14px;
}
#footer #footer-content div strong {
  color: #fffeff;
  font-family: "lato";
  font-size: 16px;
}
#footer #footer-content strong + a {
  font-size: 16px;
  line-height: inherit;
  cursor: pointer;
}
